*.config
*.creator
*.files
*.includes
*.creator.user
bc
!bc/
*.o
*.a
.log_*.txt
.math.txt
.results.txt
.ops.txt
strgen
lib.c
help.c
config.mak

# Ignore the generated test files
parse.txt
parse_results.txt
print.txt
print_results.txt
bessel.txt
bessel_results.txt
