*.config
*.creator
*.files
*.includes
*.creator.user
bin/bc
bin/dc
*.o
*.a
.log_*.txt
.test.txt
.math.txt
.results.txt
.ops.txt
gen/strgen
lib.c
bc_help.c
dc_help.c
config.mak
timeconst.bc

# Ignore the generated test files
parse.txt
parse_results.txt
print.txt
print_results.txt
bessel.txt
bessel_results.txt
perf.data
perf.data.old
*.gcda
*.gcno
*.gcov
*.html
